{% extends 'layout.html' %}

 {% block body %}
   
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
     <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:white">DIYP</a>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <p>Congratulations!</p>
	<p>You will recieve an email with detail payment method and Your odrder information within 24 hours.</p>
  <p>Product fee may be vary after we evaluate your product cost!</p>
  <p>Thank you for choosing our service. </p>
	<a href="/"><button type="button">Back to Homepage</button></a>
	
</div>
       
{% endblock %}
